/*font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;

}

body {

}

/*start disclaimer*/
.tooltip {
  position: relative;
  display: inline-block;
  height: 100px;
  width: 100px;

}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;  /* 120px;*/
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
 /* z-index: 1;
  top: -5px;
  left: 105%;*/
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/*end disclaimer*/



/*start nav-bar*/
.active {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

#navbar-list ul li a:hover {
	 transition: width 1s linear 1s;
}	
#navbar-list ul li a:hover {
	background-color: grey;
}



/*end nav-bar*/

/*landing page*/


#bg {
	background-image: url("https://media0.giphy.com/media/OVlFjmEDhx9rG/giphy.gif");
 	background-image-size: 100%;
  	background-repeat: no-repeat;
  	background-size: cover;
	height: 100vh;
/*	position: relative;*/

}


#box {
  /*border-style: solid;
  border-width: thick;*/
  padding-top:  100px;
  margin-bottom: 200px;
}

#row img {
	border: 3px solid;
	background-image: url("./assets/images/1.gif");
	width: 100%;
	opacity: 0.5;
	
}
/*end landing  page*/


/*home page*/

#home-box,
#about-box,
#gallery-box {
	background-color: #2f4353;
	background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
}

#home-landing,
#about-landing,
#gallery-landing {
	background-color: #f2f2f2; /*off white*/
}

#top-div,
#cards,
#alb,
#top-pic,
#mission,
#vision,
#faq-div,
.carousel-item img {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#top-div img {
/*	  height: 300px;
  	  width: 300px;*/
  	  	max-width: 100%;
	height: auto;
}

#cards {
  border-style: solid;	
}

#alb {
  border-style: solid;
  border-color: orange;
}


/*end home page*/


/*about page*/

#top-pic { 
   width: 100px;
   height: 100px;
}

#jumbotron-about {
	background-color: #141414; /*off black*/
	height: 90vh;
	border-radius: 0;
}

#landing-about {
	color: #f2f2f2; /*white*/
	/*font-size: 5em; */
/*	letter-spacing: 5px;*/
/*	font-family: 'Montserrat', sans-serif;*/
	padding-top: 20vh;
}

#demo {
	background-color: #141414; /*off black*/
	color: #f2f2f2; /*off white*/
}

#vision {
	height: 100%;
	background-color:  #f2f2f2;
	color: #141414;
}

#faq-div {
	  border-style: solid;
}

/*.about-tags {
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}*/

#about-abel {
	width: 550px;
	height: 850px;
	padding-top: 10px;
	padding-bottom: 50px;
}

#about-abel img {
	max-width: 100%;
	height: auto;
	padding-top: 10px;
	padding-bottom: 50px;
}

/*end about page*/

/*gallery page */

.carousel-item img {
	max-width: 100%;
	height: auto;
}

/*end gallery page*/